# Telegram Bot
BOT_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TELEGRAM_API_BASE_URL=https://tg-proxy.dmitrkomov.workers.dev/bot

# OpenAI (через ProxyAPI)
OPENAI_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OPENAI_BASE_URL=https://openai.api.proxyapi.ru/v1
OPENAI_MODEL=gpt-4o-mini

