# Настройки OpenAI (ограничение модели)
OPENAI_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OPENAI_API_BASE=https://api.proxyapi.ru/openai/v1
OPENAI_MODEL_NAME=gpt-3.5-turbo-16k

# Настройки Telegram-бота
BOT_TOKEN=ваш_токен_бота_от_BotFather

CREWAI_TELEMETRY_ENABLED=false